<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Monje | Done</title>
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		<meta name="HandheldFriendly" content="true">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta name="author" content="Roger Moraes">
	    
	    <meta name="theme-color" content="#ddd">
	    <meta name="msapplication-navbutton-color" content="#ddd">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	    <meta name="application-name" content="Monje">
	    <meta name="msapplication-TileColor" content="#FFFFFF">

	</head>

	<body>
	
		<div class="container">
			<div class="row">
				<div id="connected">
				  	<header>
				    	<h1>Done!<h1>
					</header>
				    <p>You're now authenticated in Monje. Restart your connection to be free.</p>
					<div class="wifi-symbol">
					  	<svg fill="#fbd14b" max-height="200" viewBox="0 0 24 24" max-width="200" xmlns="http://www.w3.org/2000/svg">
					    	<path d="M0 0h24v24H0z" fill="none"/>
					    	<path d="M1 9l2 2c4.97-4.97 13.03-4.97 18 0l2-2C16.93 2.93 7.08 2.93 1 9zm8 8l3 3 3-3c-1.65-1.66-4.34-1.66-6 0zm-4-4l2 2c2.76-2.76 7.24-2.76 10 0l2-2C15.14 9.14 8.87 9.14 5 13z"/>
						</svg>
					</div>
				</div>
			</div>
		</div>

	</body>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
</html>